<div>
  <div style="display:flex">
    <div style="background-color: #DE6565; width: 14.285%; text-align: center; color:white;text-transform: uppercase; font-size: 1.2rem">25% más mujeres</div>
    <div style="background-color: #EF9995; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 1.2rem">10%</div>
    <div style="background-color: #FACDC9; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 1.2rem">5% más mujeres</div>
    <div style="background-color: #FFFFFF; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 1.2rem">aprox igual</div>
    <div style="background-color: #C5D7ED; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 1.2rem">5% más hombres</div>
    <div style="background-color: #88B0DA; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 1.2rem">10%</div>
    <div style="background-color: #3B8CC7; width: 14.285%; text-align: center; color:white;text-transform: uppercase; font-size: 1.2rem">25% más hombres</div>
  </div>
  <div id="map" style="height: 98vh; width: 98vw">
  </div>
</div>
