<div>
  <div style="padding: 1rem 1rem 0 1rem">
    <div id="age-selector" />
  </div>
  <div style="display:flex">
    <div style="background-color: #DE6565; width: 14.285%; text-align: center; color:white;text-transform: uppercase; font-size: 0.8rem">15% más mujeres</div>
    <div style="background-color: #EF9995; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 0.8rem">7%</div>
    <div style="background-color: #FACDC9; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 0.8rem">3% más mujeres</div>
    <div style="background-color: #FFFFFF; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 0.8rem">aprox igual</div>
    <div style="background-color: #C5D7ED; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 0.8rem">3% más hombres</div>
    <div style="background-color: #88B0DA; width: 14.285%; text-align: center; color:black;text-transform: uppercase; font-size: 0.8rem">7%</div>
    <div style="background-color: #3B8CC7; width: 14.285%; text-align: center; color:white;text-transform: uppercase; font-size: 0.8rem">15% más hombres</div>
  </div>
  <div id="map" style="height: 90vh; width: 99.5vw; margin: 0 auto">
  </div>
  <a href="https://github.com/imricardoramos/data-works/blob/main/data/scripts/censo2017.py">
    <div style="position: absolute; bottom: 0; left: 0; border-radius: 0.8rem; background-color: white; padding: 0.6rem 1.2rem; z-index: 1000; margin: 1rem; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); display: flex; align-items: center; color: black">
      <svg style="margin-right: 0.5rem" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
      <div>Source</div>
    </div>
  </a>
</div>
